
{{ $currentStyle := "" }}
{{ if .Params.pageStyle }}
  {{ range $.Site.Params.styles.config }}
    {{ if eq .name $.Params.pageStyle }}
      {{ $currentStyle = .stylesheet }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not $currentStyle }}
  {{ $currentStyle = $.Site.Params.styles.default }}
{{ end }}

<link 
  id="site-style" 
  rel="stylesheet" 
  href="{{ $currentStyle }}"
  data-turbo-track="reload"
>
<script data-turbo-permanent>
  var styleMap = {
    {{- range .Site.Params.styles.config }}
      '{{ .name }}': {{ printf "'%s'" .stylesheet | safeJS }},
    {{- end }}
  };

  function changeStyle(name) {
    var targetLink = document.getElementById('site-style');
    if (targetLink && styleMap[name]) {
      targetLink.setAttribute('href', styleMap[name]);
    }
  }
</script>


<script>
(function() {
  window.applyAndSaveStyle = function(styleName) {
    if (styleName === "default"){
      localStorage.removeItem('pageStyle');
      const url = new URL(window.location.href);
      url.searchParams.delete('pageStyle');
      window.history.replaceState({}, '', url.toString());
      changeStyle(document.body.dataset.defaultStyle);
      syncTogglerUI(document.body.dataset.defaultStyle);
      return;
    }
    if (!styleMap[styleName]) return;

    localStorage.setItem('pageStyle', styleName);

    const url = new URL(window.location.href);
    url.searchParams.set('pageStyle', styleName);
    window.history.replaceState({}, '', url.toString());

    changeStyle(styleName);

  };


  function resolveAndApplyStyle() {
    const body = document.body;

    const urlParams = new URLSearchParams(window.location.search);
    const pageStyleUrlParam = urlParams.get('pageStyle');

    const hash = window.location.hash.replace('#', '');
    const pageStyleData = body ? body.dataset.pageStyle : null;
    const userPreferenceStyle = localStorage.getItem('pageStyle');
    const defaultStyleData = body ? body.dataset.defaultStyle : null;

    const styleToApply = 
      (styleMap[pageStyleUrlParam] ? pageStyleUrlParam : null) || 
      (styleMap[hash] ? hash : null) || 
      (styleMap[userPreferenceStyle] ? userPreferenceStyle : null) || 
      (styleMap[pageStyleData] ? pageStyleData : null) || 
      defaultStyleData;

    if (styleToApply) {
      changeStyle(styleToApply);
      syncTogglerUI(styleToApply);
    }
  }

  document.addEventListener('turbo:before-render', resolveAndApplyStyle);
  document.addEventListener('turbo:load', resolveAndApplyStyle);
  window.addEventListener('hashchange', resolveAndApplyStyle);
  window.addEventListener('popstate', resolveAndApplyStyle);

  resolveAndApplyStyle();

})();
</script>