<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
{{- block "head" .}}
  {{ partial "head.html" . }}
{{- end}}
{{- block "head-additions" .}}{{- end}}
</head>
<body 
  data-page-style="{{ .Params.pageStyle }}" 
  data-default-style="{{ .Site.Params.styles.default }}"
>
  {{- block "header" .}}
  <header class="sticky-top" id="pageheader">
    {{ partial "header.html" . }}
  </header>
  {{- end}}
  <main class="m-0 p-0">
    {{ block "main" . }}{{ end }}
  </main>
  {{- block "footer" .}}
    {{ partial "footer.html" . }}
  {{- end}}
</body>
</html>
