{{- define "header"}}
<div class="dropdown">
  <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-list"></i>
  </button>
  <ul class="dropdown-menu">
    <li><h6 class="dropdown-header">{{.Site.Title}}</h6></li>
    <li><a class="dropdown-item" href="/">Home</a></li>
    <li><a class="dropdown-item" href="#">Sidebar Items</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><h6 class="dropdown-header">Page Menus</h6></li>
    <li><a class="dropdown-item" href="#">Color Scheme</a></li>
  </ul>
</div>
{{end}}
{{ define "main" }}
<main id="infopage" class="infopage border rounded-4 px-3 py-5 shadow-lg text-center">
  {{ partial "page/infopage-datacontent-parser.html" .Params.content }}
</main>
<script src="/js/router.js"></script>
{{ end }}
{{- define "footer"}}<!---->{{end}}