{{- define "header"}}

<div class="dropdown">
  <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-list"></i>
  </button>
  <ul class="dropdown-menu">
    <li><h6 class="dropdown-header">{{ .Site.Title }}</h6></li>
    <li><a class="dropdown-item" href="/">Home</a></li>
    <li><a class="dropdown-item" href="#">Sidebar Items</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><h6 class="dropdown-header">Page Menus</h6></li>
    <li class="dropdown dropend">
      <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Color Scheme
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdown-layouts">
        <li><a class="dropdown-item" onclick="setBootstrapTheme('auto')"><i class="bi bi-circle-half"></i> Auto</a></li>
        <li><a class="dropdown-item" onclick="setBootstrapTheme('light')"><i class="bi bi-brightness-high-fill"></i> Light</a></li>
        <li><a class="dropdown-item" onclick="setBootstrapTheme('dark')"><i class="bi bi-moon-stars-fill"></i> Dark</a></li>
      </ul>
    </li>
    <li class="dropdown dropend">
      <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Page Styles
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdown-layouts">
        <li><a href="#" class="dropdown-item" onclick="applyAndSaveStyle('default'); return false;"> <i class="bi bi-palette-fill"></i> Default</a></li>
        {{- range .Site.Params.styles.config }}
          <li>
            <a 
              class="dropdown-item" 
              href="#" 
              onclick="applyAndSaveStyle('{{ .name }}'); return false;">
              <i class="bi bi-palette-fill"></i> 
              {{ default .name .title }}
            </a>
          </li>
        {{- end }}
      </ul>
    </li>
  </ul>
</div>
{{end}}
{{ define "main" }}
<main id="infopage" class="infopage border rounded-4 p-0 shadow-lg text-center">
  {{ partial "page/infopage-datacontent-parser.html" .Params.content }}
</main>
<script src="/js/router.js"></script>
{{ end }}
{{- define "footer"}}<!---->{{end}}