{{ define "main" }}
<section class="post-list-main">
  <a href="{{ .Parent.Permalink }}" class="text-start">
      <i class="fa-solid fa-arrow-left"></i>&lt; Back to {{ .Parent.Title }}
  </a>
  <section class="post-list-content">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </section>
  <section class="post-list-actions-top d-md-block d-flex align-items-end">
    <button id="view-list" class="btn btn-outline-secondary" aria-pressed="false" title="List view">
      <i class="bi bi-list"></i>
    </button>
    <button id="view-grid" class="btn btn-outline-secondary ms-3" aria-pressed="false" title="Grid view">
      <i class="bi bi-grid"></i>
    </button>
  </section>
  {{ $pages := .RegularPages }}
  {{ $paginator := .Paginate ( $pages ) 6 }}
  <section id="post-list" class="post-list m-2 row row-cols-2 gap-5 py-2 align-items-start">
    {{ range $paginator.Pages }}
    <article class="border rounded shadow-lg row p-2 py-4 h-auto align-self-start">
        <section class="post-thumbnail">
            {{ with .Params.thumbnail }}
            <img src="{{ . }}" alt="{{ $.Title }}" class="img-fluid rounded my-3">
            {{ end }}
        </section>
        <section>
            <header class="post-header">
                <div class="post-meta">
                    <h2 class="post-title">
                        <a>{{ .Title }}</a>
                    </h2>
                    <p>
                        {{ with .Date }}
                        <i class="bi bi-calendar"></i>
                        <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "January 2, 2006" }}</time>
                        {{ end }} 
                        {{ with .Params.author }}
                        |
                        <span class="post-author">
                            <i class="bi bi-person"></i>    
                            {{ . }}
                        </span>
                        {{ end }}
                </div>
            </header>
        </section>
        <section class="post-content">
            {{ .Summary }}
        </section>
        <section class="post-actions mt-3">
            <a href="{{ .Permalink }}" class="btn btn-outline-primary">
                Read More
            </a>
        </section>
    </article>     
    {{ end }}
  </section>
  <section class="post-list-actions-bottom d-flex justify-content-center">
    {{ partial "pagination.html" . }}
  </section>
</section>
{{ end }}
